.ScrollHome {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.ScrollHome-content {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.ScrollHome-spacer {
  height: 20px;
  border: 0;
}

/* Narrower than tablet landscape */
@media screen and (max-width: 1024px) {
  .ScrollHome-skills-spacer {
    display: none;
  }

  .ScrollHome-content {
    > .Skills {
      display: none;
    }
  }
}