@import "../../../../scss/colors";

.MyAppsTag {
  font-size: 10px;
  background-color: $light-gray;
  color: $charcoal-gray;
  border-radius: 25px;
  display: inline-block;
  padding: 5px;
  text-align: center;
  margin: 3px;
}