@import "../../scss/colors";

.Footer {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  box-shadow: 0 2px 4px 0 $box-shadow-color inset;
  background-color: $light-gray;
  padding: 10px;
  font-size: 10px;
}

.Footer-content {
  display: flex;
  flex: 1 0 auto;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.Footer-site-map {
  ul {
    list-style-type: circle;
    padding-left: 20px;
    margin: 0;
  }
}