.EducationItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 15px;

  &:first-child {
    margin-top: 0;
  }

  .title {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.2;
    margin-bottom: 3px;
  }

  .degree {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .degree-item {
    margin-left: 3px;

    &:first-child {
      margin-left: 0;
    }
  }

  .degree-name {
    font-weight: bold;
  }
}