@import "./scss/fonts";
@import "./scss/colors";

body {
  @include Text-Style;
  margin: 0;
  padding: 0;
  height: 101vh;
  background-color: $light-gray;
}

a, a:active, a:hover, a:visited {
  color: $charcoal-gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
