@import "./colors";

@mixin section-label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 110px;
  border-radius: 0 4px 4px 0;
  border: solid 1px $light-gray;
  border-left: 0;
  background-color: $white;
  font-size: 16px;
  margin: 20px 0;
}